<!DOCTYPE html>
<html>

<head>
  {%load static%}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Ve-Tech Solutions</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{%static 'css/style.css'%}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{%static 'css/responsive.css'%}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-sm custom_nav-container ">
          <a class="navbar-brand" href="index.html" style="border-bottom: 10px solid black;">
            <img src="{%static 'images/logo.jpg'%}" alt="" /><h2 style="font-size: 30px; color: #24d278; margin-left: 60px; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
             Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">     Ve-Tech <span style="color:gray;">Solutions</span> </h2>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="{%url 'home'%}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'about'%}"> About</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="shop.html">Shop </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="{%url 'our_work'%}"> Our Works </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'contact'%}">Contact us</a>
              </li>
            </ul>
            <!-- <div class="user_option">
              <a href="">
                <img src="images/user.png" alt="">
                <span>
                  Login
                </span>
              </a>
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div> -->
          </div>
          <div>
            <div class="custom_menu-btn ">
              <button>
                <span class=" s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
          </div>

        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>

            </div>
            <p>
              <i> Ve-Tech Solutions is a fast-growing software company that keeps culture and creativity at the heart of everything we
              do. Our mission
              is to help customers unlock their creativity and build exceptional website using our uniquely powerful design tool.
              <br><strong>
            
                We are a remote-first company</strong><br> Since 2018 Ve-Tech Solutions has been committed to a course of steady,
              sustainable growth,
              while also believing that at some point in the future, Ve-Tech Solutions will be as widely embraced and intrinsically
              valuable to digital creatives. Yes, we’re shooting for the moon but we’re doing it
              responsibly and using our substantial and creativity wisely. See for yourself. This chart of employee size will
              give a clear sense of where we’re headed and what — or rather who — we believe in. <br>
            
              Our passion stems from our clients. We value diversity and believe that different backgrounds, ideas and perspectives
              are what make us a stronger and more capable web developers. 
            
              We blend our strengths together, combining our website developing  experience and creative minds to bring the best ideas to the
              table and drive results for our partners.
            
            </i></p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/about-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
<img src="{%static 'images/about us.png'%}" alt="" style="position:relative; margin-top: -900px; margin-left: 800px; width: 400px;" >
  <!-- end about section -->


  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_logo">
        <h2>
          VE-Tech Solutions 
        </h2>
      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="info_contact">
            <h5>
              Contact Us
            </h5>
            <div>
              <div class="img-box">
                <img src="{%static 'images/location-white.png'%}" width="18px" alt="">
              </div>
              <p>
                Mutalar Muhammed Highway Cross River Calabar
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{%static 'images/telephone-white.png'%}" width="12px" alt="">
              </div>
              <p>
                +2347065097035
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{%static 'images/envelope-white.png'%}" width="18px" alt="">
              </div>
              <p>
                vetech69@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info_info">
            <h5>
              Ve-Tech Soolutions
            </h5>
            <p style="text-align: justify;">
              Ve-Tech Solutions Web Design strives to be a leader in website design while offering top-notch customer support and
              one-on-one communication with the businesses we work with. We guarantee you will be satisfied with our work. Your
              website is important – we can get the job done right.
            </p>
          </div>
        </div>

        <div class="col-md-4">
          
        </div>
        <div class="col-md-4">
          <div class="info_form ">
            
            <div class="social_box">
              <a href="">
                <img src="{%static 'images/fb.png'%}" alt="">
              </a>
              <a href="">
                <img src="{%static 'images/twitter.png'%}" alt="">
              </a>
              <a href="">
                <img src="{%static 'images/linkedin.png'%}" alt="">
              </a>
              <a href="">
                <img src="{%static 'images/youtube.png'%}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; 2019 All Rights Reserved By
        <a href="">Ve-Tech Solutions</a>
      </p>
    </div>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
  <script type="text/javascript" src="{%static 'js/bootstrap.js'%}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
  </script>
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        420: {
          items: 2
        },
        1000: {
          items: 5
        }
      }

    });
  </script>
  <script>
    var nav = $("#navbarSupportedContent");
    var btn = $(".custom_menu-btn");
    btn.click
    btn.click(function (e) {

      e.preventDefault();
      nav.toggleClass("lg_nav-toggle");
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    });
  </script>
  <script>
    $('.carousel').on('slid.bs.carousel', function () {
      $(".indicator-2 li").removeClass("active");
      indicators = $(".carousel-indicators li.active").data("slide-to");
      a = $(".indicator-2").find("[data-slide-to='" + indicators + "']").addClass("active");
      console.log(indicators);

    })
  </script>

</body>
</body>

</html>